<%= render 'layout/prepend' %>

<%- model_class = Appraisal -%>
<dl class="dl-horizontal">
  <dt><strong><%= t('appraisal_template')%>:</strong></dt>
  <%= render partial: 'appraisals_templates/show', locals: {:appraisal => @appraisal.appraisal} %>

  <dt><strong><%= t('appraisal_start_date') %>:</strong></dt>
  <dd><%= format_date @appraisal.start_date %></dd>

  <dt><strong><%= t('appraisal_end_date') %>:</strong></dt>
  <dd><%= format_date @appraisal.end_date %></dd>

  <dt><strong><%= t('appraisal_appraisers') %>:</strong></dt>
  <dd class="appraisal-lists">
    <% @appraisal.appraisers.each do |u| %>
      <i class="fa fa-angle-double-right"></i> <%= u.login %> - <%= u.name %>
    <% end %>
  </dd>

  <dt><strong><%= t('appraisal_appraisees') %>:</strong></dt>
  <dd class="appraisal-lists">
    <% @appraisal.appraisees.each do |u| %>
      <i class="fa fa-angle-double-right"></i> <%= u.login %> - <%= u.name %>
    <% end %>
  </dd>
</dl>

<div class="form-actions">
<%= link_to t('.back', :default => t("helpers.links.back")),
              appraisals_path, :class => 'btn btn-default'  %>
<% if @appraisal.appraisers.include?(User.current) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_appraisal_path(@appraisal), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                appraisal_path(@appraisal),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
</div>

<%= render partial: 'layout/append', locals: {bomb_text: t('helpers.links.reading'), bomb_icon: :eye} %>