<div id="tags-graph"></div>

<script type="text/javascript">


$(function () {
    $('#tags-graph').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: "<%=t('tags_graph')%>"
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                <%=raw @tpa_tags.map{|tag| "#{tag.option_content}"}.map(&:inspect).join(', ')%>
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: "<%=t('tags_count')%>"
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                width: '100%'
            }
        },
        series: [{
            name: "<%=t('appraisal_question_content').pluralize%>",
            data: [<%=raw @tpa_tags.map{|tag| tag.tags_count}.map(&:inspect).join(', ').gsub('"','')%>]
        }

        ]
    });
});
</script>
<hr>
<div id="tags-by-tracker-graph"></div>
<script type="text/javascript">
    $(function () {
        $('#tags-by-tracker-graph').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: "<%=t('tags_by_tracker_graph')%>"
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                data: [
                    <%=raw @tpa_tags_by_tracker.map{|tag| ["#{tag.tracker_name}", tag.tags_count]}.map(&:inspect).join(', ')%>
                ]
            }]
        });
    });
</script>