<%= render 'layout/prepend' %>

<dl class="dl-horizontal">
  <dt><strong><%= t('appraisal_appraisee') %>:</strong></dt>
  <dd><%= User.find(params[:user_id]) %></dd>

  <dt><strong><%= t('appraisal_appraisers') %>:</strong></dt>
  <dd class="appraisal-lists">
    <% @appraisal.appraisers.each do |u| %>
      <i class="fa fa-angle-double-right"></i> <%= u.login %> - <%= u.name %><br/>
    <% end %>
  </dd>
</dl>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><%= t('tags_list') %></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%=t('tags_graphs')%></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><br/><%= render :partial => 'tags_list' %></div>
    <div role="tabpanel" class="tab-pane" id="profile"><br/><%= render :partial => 'tags_graphs' %></div>
  </div>

</div>
<%= render partial: 'layout/append', locals: {bomb_text: t('helpers.links.reading'), bomb_icon: :eye} %>