<fieldset class="appraisals-question-options">
  <div class="form-group">
    <%= f.label t('appraisal_question_option_content'), :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :content, :class => 'form-control' %>
      <div class="col-md-6">
        <span class="span-danger"><%= display_errors(f.object, :content) %></span><br/>
      </div>
      <div class="col-md-6" style="text-align: right;">
        <% if any_restrict_dependecy?(f.object)  %>
          <span class="restrict-dependency">
            <%= t('this_object_has_restrict_dependencies', :dependency => any_restrict_dependecy?(f.object).first) %>
          </span>
        <% else %>
          <%= f.hidden_field :_destroy %>
          <%= link_to t('remove_appraisal_question_option'), '#', class: "remove_fields" %>  
        <% end %>
      </div>
    </div>
  </div>
</fieldset>