<script type="text/javascript">
    $(document).ready(function(){
        $('.dl-horizontal dd, td, .property p').filter(function() {
          return ! $.trim($(this).html());
        }).html("<p class='text-danger'><%= t('no_data') %></p>");
    });
</script>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_tpa', :plugin => 'redmine_tpa' %>
    <%= stylesheet_link_tag 'bootstrap.min', :plugin => 'redmine_tpa' %>
    <%= stylesheet_link_tag 'font-awesome.min', :plugin => 'redmine_tpa' %>
    <%= stylesheet_link_tag 'appraisals_templates', :plugin => 'redmine_tpa' %>
    <%= stylesheet_link_tag 'appraisals', :plugin => 'redmine_tpa' %>
    <%= stylesheet_link_tag 'appraisals_questions', :plugin => 'redmine_tpa' %>
    <%= stylesheet_link_tag 'select2', :plugin => 'redmine_tpa' %>
    <%= javascript_include_tag 'select2', :plugin => 'redmine_tpa' %>
    <%= javascript_include_tag 'bootstrap.min', :plugin => 'redmine_tpa' %>
    <%= javascript_include_tag 'appraisals_templates', :plugin => 'redmine_tpa' %>
    <%= javascript_include_tag 'appraisals', :plugin => 'redmine_tpa' %>
    <%= javascript_include_tag 'redmine_tpa', :plugin => 'redmine_tpa' %>
<% end %>

<h3 class="tpa-page-title"><%=title_for_tpa%></h3>
 
<div class="container-fluid tpa-container">
	<div class="row">
	<div class="col-md-2 sidebar left">
		<ul class="nav nav-sidebar">
			<li><%= active_link_to "<span class='tpa-left-menu-icon'><i class='fa fa-paper-plane'></i></span> #{t('appraisals')}".html_safe, appraisals_path, active: [["appraisals"],["show","index"]] %></li>
			<li><%= active_link_to "<span class='tpa-left-menu-icon'><i class='fa fa-file'></i></span> #{t('appraisals_templates')}".html_safe, appraisals_templates_path, active: [["appraisals_templates"],["show","index"]] %></li>
		</ul>
	</div>
	<div class="col-md-8 tpa-content">
